header{
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}


body{

    background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.navbar ul{
    list-style-type: none;
    background-color: #fdbb2d;
    padding: 0px;
    margin: 0px;

}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #22c1c3;
}
audio{
    padding: 10px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
brands{
    padding: 0px;
    margin: 10px;
    display: block;
    
    text-align: center;
    
}
header0{
    padding:10px;
    margin: 5px;
   display: block;
    text-align: left;
    font-size: 17px;
    color: black;
}